<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
<!--    <h2> <a href="/users"> Manage Users </a> </h2>-->
    <div>
        <a class="h3" th:href="@{/animals/new}"> Add New User </a>
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kind</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="animal : ${listAnimals}">
                <tr>
                    <td>[[${animal.id}]]</td>
                    <td>[[${animal.name}]]</td>
                    <td>[[${animal.kind}]]</td>
                    <td>[[${animal.gender}]]</td>
                    <td>[[${animal.age}]]</td>
                    <td>[[${animal.description}]]</td>
                    <td>
                        <a class="h5 btn-primary" th:href="@{'/animals/edit/'+${animal.id}}">Edit</a>
                    </td>
                    <td>
                        <a class="btn-danger" th:href="@{'/animals/delete/'+${animal.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>