<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">

    <h1> HOME PAGE </h1>

    <form th:action="@{/search}" method="get" style="float: left">
        <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name Or Animal Name" size="50" >
        <button type="submit" class="btn btn-success m-2" >Search</button>
        <button type="submit" class="btn btn-secondary m-2"  >Reset</button>
<!--        <a th:href="@{/users/new}" class="btn btn-primary m-2" >Create User</a>-->
        <a th:href="@{/animals/new}" class="btn btn-primary m-2" >Create Animal</a>
        <a th:href="@{/users}" class="btn btn-dark m-2" > User Operations </a>

    </form>
    <table class="table table-bordered table-sm mt-2">
        <thead>
        <tr>
            <th> Number </th>
            <th> ID </th>
            <th> Name </th>
            <th> Kind </th>
            <th> Age </th>
            <th> Gender </th>
            <th> Description </th>
            <th> Owner </th>
            <th> Update </th>
            <th> Delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${list}" th:field="${l}">
            <td th:text="${lStat.index+1}"></td>
            <td th:text="${l.id}"></td>
            <td th:text="${l.name}"></td>
            <td th:text="${l.kind}"></td>
            <td th:text="${l.age}"></td>
            <td th:text="${l.gender}"></td>
            <td th:text="${l.description}"></td>
            <td th:text="${l.user.firstName}"></td>

            <td>
                <a th:href="@{'/animals/edit/'+${l.id}}"  class="btn btn-primary" > Edit </a>
            </td>
            <td>
                <a th:href="@{'/animals/delete/'+${l.id}}" class="btn btn-danger" > Delete </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>




